<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>id: <%= livros[0].id_livro %></p>
    <p>Titulo: <%= livros[0].titulo %></p>
    <p>Autor: <%= livros[0].autor %></p>
    <p>Entrada: <%= livros[0].data_entrada %></p>
  </body>
</html>
